.container {
    display: flex;
    flex-direction: column;
    items-align: center;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.spinnerWrapper {
    margin-bottom: 40px;
    position: relative;
}

.spinner {
    width: 80px;
    height: 80px;
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-top-color: var(--color-accent-primary);
    border-radius: 50%;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.statusText {
    font-size: 24px;
    color: white;
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}