.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 24px;
}

.title {
    font-size: var(--text-heading-l);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 32px;
    padding-bottom: 32px;
    /* Scrollable area if items overflow */
    overflow-y: auto;
    flex: 1;
}